body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New', monospace;
}

.flex {
    display: flex;
}

.item-center {
    align-items: center;
}

.justify-center {
    justify-content: center;
}

.flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}


/* Sidebar Icon START */

.sidebar-icon {
    background-color: #e4f0e9;
    border-right: 1px solid #B7D6C3;
    padding: 0.5rem;
}


/* Sidebar Icon END */


/* Sidebar Users START */

.sidebar-users {
    background-color: white;
    display: flex;
    flex-direction: column;
    flex: 25%;
    padding-left: 0.5rem;
}

.sidebar-users__title {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.5rem 0;
    font-size: 1.5rem;
    font-weight: bold;
}

.user {
    margin-right: 1rem;
    padding: 0.5rem;
    margin-bottom: .5rem;
    border-radius: 10px;
    transition: 500ms all;
}

.user:hover {
    background-color: rgb(218, 218, 218);
    cursor: pointer;
    border-radius: 10px;
}

.user__avatar {
    margin-right: 1rem;
}

.users-list {
    overflow-y: scroll;
    height: 90vh;
}


/* Sidebar User END */


/* Chat  START */

.chat {
    background-color: yellow;
    display: flex;
    flex-direction: column;
    flex: 75%;
    height: 100vh;
}

.chat__user__name {
    margin-right: 1rem;
    font-weight: bold;
}

.chat__header {
    background-color: #B7D6C3;
    height: 50px;
    display: flex;
    justify-content: center;
}

.chat__message {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.chat__message__input {
    display: flex;
    align-items: center;
    margin: 1rem 2rem;
}

.chat__input {
    margin: 0 1rem;
    display: flex;
    flex: 1;
}

.chat__input input {
    padding: 0.5rem;
    width: 100%;
    border: none;
    border-radius: .2rem;
    outline: none;
}


/* Chat  END */